@import './base.css';

/* General Styles */
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif; /* Override base font-family */
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Vertical layout */
}

/* Main Container */
.cv-page {
  display: flex;
  flex-direction: column; /* Stack components vertically */
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Ensure it covers the full height */
  padding-top: 60px; /* Add padding to account for menu height */
}



/* Intro Section */
.intro-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equally spaced columns */
  grid-template-rows: auto; /* Single row */
  gap: 20px; /* Space between items */
  width: 60vw; /* Same width as the menu bar */
  padding: 0 20px; /* Padding inside the section */
}

.intro {
  grid-column: 2 / span 4; /* Start at column 2, span 4 columns */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the name to the left */
}

.intro h1 {
  font-size: 6rem; /* Large font size for the name */
  font-weight: bold;
  color: black; /* Set text color to black */
  margin: 0; /* Remove default margin */
}

.scroll-down {
  grid-column: 6; /* Align to column 6 */
  display: flex;
  align-items: flex-end; /* Align to the bottom */
  justify-content: flex-end; /* Align to the right */
  padding-right: 0.5rem; /* Padding from the right */
  padding-bottom: 0.5rem; /* Padding from the bottom */
}

.scroll-down a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}

.scroll-down a:hover {
  text-decoration: underline;
}

/* Main Content */
.main-content {
  width: 60vw; /* 60% of the viewport width */
  padding: 20px; /* Adjust padding if needed */
}

.content-section {
  margin-bottom: 40px; /* Space between sections */
}

h1, h2 {
  margin-top: 0;
}
